{%extends "pgopen/templates/base.html" %}
{%block content%}
{% load staticfiles %}
<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
            <span class="header"><img src="{% static 'images/about.svg' %}" alt="" /></span>
						<h2>About PostgresOpen</h2>
					</header>

          <!-- Who we are -->
          <section class="section">
            <hr>
            <h3>Who We Are</h3>

            <p>PostgresOpen is a non–profit, community–run conference series in the United States focused on business users, database professionals and developers of PostgreSQL, the open source database.</p>
            <p>We target entrepreneurs, technologists and decision–makers on the leading edge of data management, open source database innovation and disruption of the database industry. PostgresOpen promotes the business of PostgreSQL as well as its use and development.</p>
            <hr>
          </section>

          <!-- Suitable for Many Audiences -->
          <section>
            <h3>Suitable for Many Audiences</h3>

            <p>Given this wide range of topics, the conference is suitable for many different audiences:</p>
            <ul>
              <li>>> DBAs already using PostgreSQL, or considering doing so</li>
              <li>>> Developers of any kind of application, from hobbyists to large web and enterprise applications</li>
              <li>>> Decision-makers interested in evaluating the world's most advanced open source database as an alternative to traditional proprietary products</li>
              <li>>> PostgreSQL contributors - code, documentation, support - whatever you help with!</li>
              <li>>> Open Source enthusiasts in general!</li>
            </ul>
            <hr>
          </section>

          <!-- Program Committee -->
          <section>
            <h3>Program Committee</h3>

            <ul>
              <li>>> Stephen Frost, Committee Chair, CTO Crunchy Data Solutions, Inc., PGDG Committer and Major Contributor, DCPUG co-leader</li>
              <li>>> Gabrielle Roth, PDXPUG co-leader</li>
              <li>>> Kris Pennella, Treasurer, Postgresql.US </li>
              <li>>> Joe Conway, VP PostgreSQL Engineering, Crunchy Data, PGDG Committer and SDPUG organizer</li>
              <li>>> John Graber, Systems Engineer, EnterpriseDB, pgMKE organizer</li>
              <li>>> Sarah Conway, Web development support</li>
            </ul>
            <p>"PGDG" is the PostgreSQL Global Development Group</p>
            <hr>
          </section>

          <!-- Conference Policies -->
          <section>
            <h3>Conference Policies</h3>

						<p>Please see our <a href="/policies/">policies</a> regarding our refund, speaker, and anti-harassment policies.</p>
            <hr>
          </section>

          <!-- General info -->
          <section>
            <h3>General information</h3>

            <p>The conference will run multiple parallel tracks covering different technical levels to ensure there is always something interesting for everybody.
            <br>
            All talks will be given in English.
            <br>
            Before the conference, we will team up with companies around the US who offer PostgreSQL training, for a day of discounted PostgreSQL training sessions.</p>
            <hr>
          </section>
				</div>
			</section>
{% endblock %}