{%extends "pgopen/templates/base.html" %}
{%block content%}
{% load staticfiles %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
            <span class="header"><img src="{% static 'images/blog.svg' %}" alt="" /></span>
						<h2>Blog</h2>
					</header>

          <!-- Sponsorship -->
          <section class="section">
            <hr>
            <h3>Blog Title</h3>
            <h4>Author, Date</h4>
            <p>PostgresOpen 2016 will be held on September 16-September 18th in Dallas, at the Sheraton Dallas. It will deliver three days packed with tutorials and presentations about PostgreSQL and related technologies, one day of extended trainings, and the usual hallway and social track!
            </br>
            We target entrepreneurs, technologies and decision-makers on the leading edge of data management, open source database innovation and disruption of the database industry. PostgresOpen will promote the business of PostgreSQL as well as its use and development.</p>
            </p>
            <hr>
          </section>

          <section class="section">
            <h3>Blog Title</h3>
            <h4>Author, Date</h4>
            <p>PostgresOpen 2016 will be held on September 16-September 18th in Dallas, at the Sheraton Dallas. It will deliver three days packed with tutorials and presentations about PostgreSQL and related technologies, one day of extended trainings, and the usual hallway and social track!
            </br>
            We target entrepreneurs, technologies and decision-makers on the leading edge of data management, open source database innovation and disruption of the database industry. PostgresOpen will promote the business of PostgreSQL as well as its use and development.</p>
            </p>
            <hr>
          </section>

        </div>
      </section>
{% endblock %}